
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
header {
    background-color: #0073e6;
    color: white;
    padding: 20px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0073e6;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #005bb5;
}
